body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  background-color: #dbdbdb;
}

.conteiner {
  max-width: 1315.89px;
  margin: 0 auto;
  height: 100%;
}






a:active {
  background-color: transparent;
}

.button {
  background: #DBDBDB;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25), -4px -4px 7px rgba(255, 255, 255, 0.25);
  border-radius: 41px;
  padding: .5rem 2rem .5rem 2rem;
  font-weight: bold;
  font-size: 28px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.095em;
  color: #4F4F4F;
  border: none;
  text-decoration: none;
  transition-duration: .25s;
}



     /* //HEADER */



.header {
  padding-top: 100px;
}

.nav-items {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 63px;
  text-align: right;
  letter-spacing: 0.175em;
  color: #646464; 
  text-decoration: none;
  margin: 0 2rem 0 0;
  padding: 1rem 2rem 1rem 2rem;
}
.nav-items:hover {
  background: #DBDBDB;
box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25), -4px -4px 7px rgba(255, 255, 255, 0.25);
border-radius: 41px;
transition-duration: 1s;
}
.nav-items.active{
  border-radius: 30px;
  -webkit-box-shadow: inset 8px 8px 26px -11px rgba(0,0,0,0.37), inset -32px -32px 22px -30px rgba(255,255,255,0.69); 
box-shadow: inset 8px 8px 26px -11px rgba(0,0,0,0.37), inset -32px -32px 22px -30px rgba(255,255,255,0.69);
transition-property: box-shadow;
transition: all 0.3s ease;
}




.heaer__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
























/* HOME */

.home {
  min-height: 800px;
}

.home__con {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.dark-mode-sw {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.17em;
  color: #4F4F4F;
  display: flex;
  align-items: center;
}
.dark-mode-sw__text {
  margin-right: 1rem;
}
.home__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 68px;
  letter-spacing: 0.175em;
  color: #4F4F4F;
}


























/* about */

.about-me__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.175em;
  color: #4F4F4F;
}

.about-me__text {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.045em;
  color: #4F4F4F;
  
}

.about-me__subtext {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.045em;
  color: #4F4F4F;
  
}

.about-content {
  display: flex;
  justify-content: space-between;
}


.about-personal-info {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-personal-info__rows {
  border-radius: 30px;
  padding: .6rem 1.6rem .6rem 1.6rem ;
  font-family: Montserrat;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #4F4F4F;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25), -4px -4px 7px rgba(255, 255, 255, 0.25);
}
.rows-span {
  font-family: Montserrat;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #4F4F4F;
  font-weight: bold;
}

.about-personal-info__title{
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.175em;
  color: #4F4F4F;
}

.about-personal-info__title {
  margin-bottom: 2rem;
}

.about-skills__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.175em;
  color: #4F4F4F;
  margin-bottom: 2rem;
}

.about-skills-row {
  border-radius: 30px;
  padding: .6rem 1.6rem .6rem 1.6rem ;
  font-family: Montserrat;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: #4F4F4F;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25), -4px -4px 7px rgba(255, 255, 255, 0.25);
}

.about-pinfo-skills {
  display: flex;
  justify-content: center;
}

.about-skills {
  padding-top: 2rem;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
































/* works */


.works-nav__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.175em;
  color: #4F4F4F;
}

.works-nav__item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.175em;
  color: #4F4F4F;
  margin-right: 1.5rem;
  text-decoration: none;
}

.works-nav__item.active {
  border-bottom: solid 3px rgb(61, 61, 61);
}


.works-nav__items {
  display: flex;
  margin-bottom: 1rem;
}


.black {
  width: 600px;
  height: 300px;
  background: black;
  border-radius: 37px;
}



.testblock1 {
  max-width: 600px;
  height: 300px;
  background: #C7FFA5;
  border-radius: 37px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.testblock1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 37px;
}

.works-content__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 70px;
  grid-template-areas:
    ". ."
    ". .";
}

.works__con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subblock {
  width: 100%;
  height: 0;
  background: #000;
  color: transparent;
  transition: all .7s ease; 
  border-radius: 37px;
  text-align: center;
  position: relative;
  bottom: 303px;

}
.hide{
  display: none;
}
.subblock100 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 37px;
  transition: all .7s ease;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 303px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testblock1__btn {
  font-size: 24px;
  max-width: max-content;
  height: max-content ;
  margin-top: 1rem;
}
.mp0 {
  margin: 0;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  line-height: 0;
  height: max-content;
}
.m00 {
  margin: 0;
}


















@media (max-width: 1400px) {
  .conteiner {
    max-width: 1110px;
  }
}

@media (max-width: 1367px) {
  .header__logo-svg {
    width: 136px;
  }
  .nav-items {
    font-size: 12.8063px;
  }
  .dark-mode-sw__text {
    font-size: 17px;
  }
  .home__title {
    font-size: 25.6125px;
    letter-spacing: 0.175em;
  }
  .home__img > svg {
    width: 389px;
  }
  .home,.home__con {
    min-height: 400px;
  }
}























@media (max-width: 1310px) {
  .works-content__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
  }
}



@media (max-width: 1135px) {
  .conteiner {
    max-width: 860px;
  }
  .home__con {
    flex-direction: column;
  }
  .home {
    min-height: 1000px;
  }
  .about-pinfo-skills {
    display: block;
  }
  .about-skills {
    margin: 0;
    padding: 0;
  }
  .about-content {
    display: block;
  }
  .about-content-img {
    display: none;
  }
}
@media (max-width: 900px) {
  .conteiner {
    max-width: auto;
    padding: 0 2rem 0 2rem;
  }
  .home__title {
    text-align: center;
  }
}
@media (max-width: 558px) {
  .home__img svg {
    width: 300px;
  }
}
@media (max-width: 460px) {
  .home__title {
    font-size: 25px;
    line-height: 50px;
  }
  .dark-mode-sw__text {
    font-size: 1rem;
  }
  .header__logo-svg {
    width: 130px;
  }
  .home {
    min-height: auto;
  }
  .about-personal-info__title {
    font-size: 25px;
  }
}